<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sample.css" type="text/css">
</head>
<body>
    <div class="container">

        <div class="header">

            <div class="logo">
                <a class="logo-text" href="index.html">facebook</a>

            </div>
            <div class="login">
                <form action="">
                 <table class="login-controls">
                     <tr>
                         <td class="login-label">Email or mobile</td>
                         <td class="login-label">Password</td>
                     </tr>
                     <tr>
                         <td><input type="email"></td>
                         <td><input type="password"></td>
                         <td><input class="sub-btm" type="submit" value="login" ></td>
                     </tr>
                     <tr>
                         <td></td>
                         <td><a class="login-label" href="https://www.facebook.com/recover/initiate/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjQ5NDA0MjkxLCJjYWxsc2l0ZV9pZCI6MzgxMjI5MDc5NTc1OTQ2fQ%3D%3D&ars=facebook_login"> Forgetten account</a></td>
                     </tr>
                     

                 </table>
                </form>
            </div>

        </div>
        
        <!-- ------------------------------body -->
        <div class="main-body">
            <div class="left-section">
                <P class="para">facebook help you to connect and share with the people in your</P>
                
            </div>
            <div class="right-section">

            </div>
        </div>

    </div>
</body>
</html>